:local .container {
    position: relative;
    padding: 16px;
    border-radius: 10px;
    background-color: #c0d4ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px 32px;
    flex-wrap: wrap;

    input {
        border-color: white !important;
    }

    :global .ant-picker {
        border-color: white !important;
    }

    :global .ant-input-search button {
        border-color: white !important;
        border-left-color: #e4e9f2 !important;
    }

    :global .ant-input-search,
    :global .ant-picker {
        width: 264px;
    }
}
