node_modules
*.log
coverage
.DS_Store
.idea
htmlcov

# Project-specific files
shared/src/config.ts
sentry.properties
.env.test.local
.env

backend/config/jwtRS256.key
backend/config/jwtRS256.key.pub
beta
.cpcache
.volumes
app.log
.idea/
pom.xml
ui/*.iml
*.iml
.env
backend/__pycache__/
.DS_Store
backend/venv/
backend/env/
backend/htmlcov/
backend/.coverage


.history
