node_modules
*.log
coverage
.DS_Store
.idea
htmlcov
build
storybook-static
dist

# Project-specific files
shared/src/config.ts
contrib/emr-config/config.js
sentry.properties
.env.test.local
.env
docker-compose.local-run.yaml

backend/config/jwtRS256.key
backend/config/jwtRS256.key.pub
beta
.cpcache
.volumes
app.log
.idea/
pom.xml
ui/*.iml
*.iml
.env
backend/__pycache__/
.DS_Store
backend/venv/
backend/env/
backend/htmlcov/
backend/.coverage
backend/gunicorn.pid

.history

# Locale files
shared/src/locale/**/*.ts
shared/src/locale/**/*.js
src/locale/**/*.ts
src/locale/**/*.js
# Built seeds
zenproject/seeds.ndjson.gz

.clj-kondo/
.lsp/

.vscode


zenproject/zen-packages
resources/tests/generated/
