services:
    sdc-ide:
        image: bedasoftware/sdc-ide:master
        depends_on:
            devbox-healthcheck:
                condition: service_healthy
        ports:
            - '3001:5000'
        env_file:
            - ./env/sdc-ide
    sdc:
        image: bedasoftware/fhir-sdc:master
        depends_on:
            devbox-healthcheck:
                condition: service_healthy
        links:
            - devbox
            - fhirpath_mapping
        env_file:
            - ./env/sdc
        tty: true
    devbox:
        image: healthsamurai/aidboxone:stable
        depends_on:
            - devbox-db
            - build-seeds
        links:
            - 'devbox-db:database'
        ports:
            - '8080:8080'
        env_file:
            - ./env/aidbox
            - .env
        volumes:
            - ./config:/var/config:cached
            - ./zenproject:/zenproject
    devbox-db:
        image: 'healthsamurai/aidboxdb:13.2'
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: devbox
    devbox-healthcheck:
        image: curlimages/curl
        entrypoint: /bin/sleep 10000
        links:
            - devbox
        depends_on:
            - devbox
        healthcheck:
            test: curl --fail http://devbox:8080/health || exit 1
            interval: 5s
            timeout: 30s
            retries: 100
    build-seeds:
        build:
            context: .
            dockerfile: Dockerfile.seeds
        volumes:
          - ./zenproject:/app/zenproject
          - ./resources/seeds:/app/resources/seeds
    scheduling:
        image: bedasoftware/aidbox-scheduling-node-app:develop
        depends_on:
            devbox-healthcheck:
                condition: service_healthy
        env_file:
            - ./env/scheduling
            - ./env/aidbox
    datastream-timescaledb:
        image: timescale/timescaledb:latest-pg15
        healthcheck:
            test: ['CMD', 'pg_isready', '-U', 'postgres']
            interval: 5s
            timeout: 5s
            retries: 5
        environment:
            POSTGRES_PASSWORD: postgres
    datastream-timescaledb-migrations:
        image: bedasoftware/fhir-datasequence:latest
        entrypoint:
            - poetry
            - run
            - alembic
            - upgrade
            - head
        depends_on:
            datastream-timescaledb:
                condition: service_healthy
        env_file:
            - ./env/ingestion
    datastream:
        image: bedasoftware/fhir-datasequence:latest
        depends_on:
            datastream-timescaledb:
                condition: service_healthy
            datastream-timescaledb-migrations:
                condition: service_completed_successfully
        ports:
            - '8082:8081'
        env_file:
            - ./env/ingestion
        environment:
            - METRIPORT_WEBHOOK_AUTH_KEY
            - METRIPORT_API_SECRET
            - JWT_TOKEN_ENCODE_SECRET=${DATASEQUENCE_JWT_SECRET}
    jute:
        image: bedasoftware/jute-microservice:latest
        ports:
            - '8099:8090'
    fhirpath_mapping:
        image: bedasoftware/fhirpath-extract:main
        ports:
            - '8091:8090'

