version: '3.1'
services:
  backend:
    build: ./backend
    command: ["wait-for-it.sh", "devbox:8080", "--strict", "--timeout=0", "--", "./run_gunicorn.sh"]
    restart: unless-stopped 
    depends_on:
      - devbox
    links:
      - devbox
    env_file:
      - .env
    volumes:
      - ./backend:/app:cached
      - ./config:/var/config:cached
      - ./wait-for-it.sh:/usr/local/bin/wait-for-it.sh:cached
    # Colored logs
    tty: true
  devbox:
    image: "healthsamurai/devbox:stable"
    depends_on:
      - devbox-db
    links:
      - "devbox-db:database"
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./config:/var/config:cached
  devbox-db:
    image: "healthsamurai/aidboxdb:13.2"
    environment:
      POSTGRES_USER:     postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB:       devbox
