h3.title {
    margin: 0;
    font-weight: 700;
}

.event {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.eventName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
