@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-page-header-heading {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ant-page-header-heading-title {
    font-size: 38px;
    line-height: 46px;
}

.ant-page-header-ghost {
    background-color: transparent;
}

.ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.ant-table-container table {
    background-color: #e0eaff;
}

.ant-table-container table tbody {
    background-color: white;
}
