[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
anaconda = "*"
jedi = ">=0.18.0"
json-rpc = ">=1.13.0"
service-factory = ">=0.1.6"
black = "*"
autohooks = "*"
autohooks-plugin-black = "*"
autohooks-plugin-isort = "*"
isort = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
pep8 = "*"
flake8 = "*"
ipython = "*"

[packages]
pytest-aiohttp = "==0.3.0"
pytest-cov = "==3.0.0"
pytest = "==6.2.5"
pytest-mock = "==3.6.1"
Faker = "==9.8.0"
aioresponses = "==0.7.2"
python-dateutil = "==2.8.2"
aiocron = "==1.7"
funcy = "==1.16"
gunicorn = "==20.1.0"
aiosmtplib = "==1.1.6"
aiohttp = ">=3.8.0"
premailer = "==3.10.0"
sentry-sdk = "==1.4.3"
coloredlogs = ">=15.0.1"
boto3 = "==1.20.0"
PyYAML = "==6.0"
Jinja2 = "==3.0.2"
SQLAlchemy = ">=1.4.26"
fhirpy = "==1.3.0"
aidboxpy = "==1.3.0"
aidbox-python-sdk = {git = "https://github.com/Aidbox/aidbox-python-sdk.git",ref = "73c71a5b33091865c1bc1af2caa60f6f44539db5"}
fhirpathpy = {git = "https://github.com/beda-software/fhirpath-py.git",ref = "aaac1a4209e3e3cbce6f62246c0822c6cdaf5af5"}
watchdog = {extras = ["watchmedo"], version = "*"}




[requires]
python_version = "3.10"
