.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    --footer-text: #8c8c8c;
    --footer-link-active: #3366ff;

    &._light {
        --footer-text: rgba(255, 255, 255, 0.75);
        --footer-link-active: #fff;
    }
}

.content {
    color: var(--footer-text);
    font-size: 14px;
    line-height: 22px;
}

.link {
    color: var(--footer-text);
    transition: color 0.2s;
    text-decoration: underline;

    &:hover {
        color: var(--footer-link-active);
        text-decoration: underline;
    }
}
