.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 8px;
    border-radius: 4px;
    width: 80px;
}

.inProgress {
    background-color: #FA8C16;
}

.completed {
    background-color: #6F7AE3;
}

.title {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}