.container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 16px;
    flex-wrap: wrap;
}

.title {
    margin: 0 !important;
}

.buttons {
    display: flex;
    gap: 16px;
}

.button {
    font-weight: 600;
}
