.container {
    overflow: auto;
}

:local .table {
    :global .ant-spin-container {
        min-width: fit-content;
    }

    :global .ant-table {
        min-width: fit-content;
    }

    :global .ant-table-container {
        min-width: fit-content;
    }

    :global .ant-table-content {
        min-width: fit-content;
    }
}
