.board {
    position: relative;
    padding-top: 16px;
}

.dragArea {
    &:global(._dragging) {
        opacity: 0.3;
    }
}

.dropArea {
    position: absolute;
    left: 0;
    right: 40px;
    height: 6px;
    background-color: #fa8c16;
    border-radius: 2px;
    transition: height 0.1s;
    opacity: 0;

    &:global(._over) {
        opacity: 1;
    }

    &:global(._up) {
        top: 6px;
    }

    &:global(._down) {
        bottom: -10px;
    }
}

.container {
    cursor: grab;
    position: relative;
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 10px;
    padding: 16px;
    margin-right: 40px;
    transition: border-color 0.2s;

    &:hover {
        border-color: rgba(#fa8c16, 0.5);
    }
}

.toolBox {
    position: absolute;
    right: -40px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    opacity: 0.3;
    transition: opacity 0.2s;

    .container:hover > & {
        opacity: 1;
    }
}

.button {
    padding: 8px 12px;
    color: rgba(5, 5, 5, 0.6);
    font-size: 16px;
    transition: color 0.2s;
    height: auto;
    border: 0;

    &:hover {
        color: rgba(5, 5, 5, 0.9);
        background: 0 !important;
    }
}
