.container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.title {
    margin-bottom: 0 !important;
}

.list {
    display: flex;
    flex-direction: column-reverse;
}

.prov {
    padding: 9px 0 0;
    gap: 4px 16px;
    margin: 0 0 32px;
    font-size: 14px;
    line-height: 22px;
}

.diffRow {
    display: flex;
    justify-content: space-between;
}