;; zrc/emr-profiles.edn
{ns emr-profiles
 import #{hl7-fhir-r4-core}

 HealthcareServiceProfile
 {:zen/tags #{zen/schema zen.fhir/profile-schema}
  :confirms #{hl7-fhir-r4-core.HealthcareService/schema}
  :zen.fhir/type "HealthcareService"
  :zen.fhir/version "0.6.32"
  :zen.fhir/profileUri "urn:profile:HealthcareServiceProfile"
  :type zen/map
  :require #{:duration}
  :keys {:duration {:confirms #{hl7-fhir-r4-core.integer/schema}
                    :fhir/extensionUri "https://beda.software/healthcareservice/duration"}}}}