;; zrc/emr-profiles.edn
{ns emr-profiles 
 import #{hl7-fhir-r4-core.Reference
          hl7-fhir-r4-core.ChargeItemDefinition
          hl7-fhir-r4-core.Medication
          hl7-fhir-r4-core.Device
          hl7-fhir-r4-core.Substance
          hl7-fhir-r4-core.HealthcareService
          zen.fhir}

 HealthcareServiceProfile
 {:zen/tags #{zen/schema zen.fhir/profile-schema}
  :confirms #{hl7-fhir-r4-core.HealthcareService/schema}
  :zen.fhir/type "HealthcareService"
  :zen.fhir/version "0.6.32"
  :zen.fhir/profileUri "https://beda.software/beda-emr-healthcare-service"
  :type zen/map
  :require #{:duration}
  :keys {:duration {:confirms #{hl7-fhir-r4-core.integer/schema}
                    :fhir/extensionUri "urn:extensions:healthcare-service-duration"}}}
 ChargeItemDefinitionProfile
  {:zen/tags #{zen/schema zen.fhir/profile-schema}
   :confirms #{hl7-fhir-r4-core.ChargeItemDefinition/schema}
   :zen.fhir/type "ChargeItemDefinition"
   :zen.fhir/version "0.6.32"
   :zen.fhir/profileUri "https://beda.software/beda-emr-charge-item-definition"
   :type zen/map
   :keys {:healthcareService {:fhir/extensionUri "http://beda.software/fhir-extensions/charge-item-healthcareservices"
                              :confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference}
                              :zen.fhir/reference {:refers #{hl7-fhir-r4-core.HealthcareService/schema}}}}}}
