{ns questionnaire-profile
 import #{hl7-fhir-uv-sdc.sdc-questionnaire
          hl7-fhir-r4-core.CodeableConcept
          hl7-fhir-r4-core.integer
          hl7-fhir-r4-core.boolean
          hl7-fhir-r4-core.Reference
          hl7-fhir-r4-core.Questionnaire
          hl7-fhir-r4-core.string}

 QuestionnaireItem {:zen/tags #{zen/schema
                                zen.fhir/structure-schema}
                    :type zen/map
                    :zen.fhir/version "0.5.25-1"
                    :confirms #{hl7-fhir-r4-core.Questionnaire/item-schema}
                    :keys {:item {:type zen/vector
                                  :every {:confirms #{QuestionnaireItem}}}
                           :start {:confirms #{hl7-fhir-r4-core.integer/schema}
                                   :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/slider-start"}
                           :stop {:confirms #{hl7-fhir-r4-core.integer/schema}
                                  :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/slider-stop"}
                           :startLabel {:confirms #{hl7-fhir-r4-core.string/schema}
                                        :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/slider-start-label"}
                           :stopLabel {:confirms #{hl7-fhir-r4-core.string/schema}
                                       :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/slider-stop-label"}
                           :helpText {:confirms #{hl7-fhir-r4-core.string/schema}
                                      :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/help-text"}

                           :adjustLastToRight {:confirms #{hl7-fhir-r4-core.boolean/schema}
                                               :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/adjust-last-to-right"}
                           :unit {:confirms #{hl7-fhir-r4-core.string/schema}
                                  :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/unit"}
                           :inlineChoiceDirection {:confirms #{hl7-fhir-r4-core.string/schema}
                                                   :fhir/extensionUri "https://beda.software/fhir-emr-questionnaire/inline-choice-direction"}}}

 QuestionnaireProfile
 {:zen/tags #{zen.fhir/profile-schema zen/schema}
  :zen.fhir/type "Questionnaire"
  :zen.fhir/profileUri "https://beda.software/beda-emr-questionnaire"
  :type zen/map
  :zen.fhir/version "0.5.25-1"
  :keys {:mapping {:type zen/vector
                   :every {:confirms #{hl7-fhir-r4-core.Reference/schema}}
                   :fhir/extensionUri "http://beda.software/fhir-extensions/questionnaire-mapper"}
         :item {:type zen/vector
                :every {:confirms #{QuestionnaireItem}}}}}}
