.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.detailsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    flex-wrap: wrap;
    gap: 16px;

    @media only screen and (max-width: 680px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.detailItem {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    font-weight: 500;
}

.detailsTitle {
    color: #0b182873;
}

.editButton {
    padding: 0;
    font-weight: 700;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;

    @media only screen and (max-width: 1280px) {
        flex-wrap: wrap;
    }
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media only screen and (min-width: 1281px) {
        flex: 1;
    }
}
