.board {
    position: relative;
}

.dragArea {
    &:global(._dragging) {
        opacity: 0.3;
    }
}

.toolBox {
    position: absolute;
    right: -40px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
