{ns box
 import #{aidbox.rest questionnaire-profile}

 box
 {:zen/tags #{aidbox/system}
  :zen/desc "test server"
  :services {:seed seed
             :seed-fixtures seed-fixtures
             :sdc sdc-service}}

 sdc-service
 {:zen/tags  #{aidbox/service}
  :engine    aidbox.sdc/service
  :versioning {:enabled false}}

 seed
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed
  :files ["seeds.ndjson.gz"]}

 seed-fixtures
 {:zen/tags  #{aidbox/service}
  :engine    aidbox/seed-v2
  :resources
  {:Client {:web {:auth {:implicit {:redirect_uri #env FHIR_EMR_AUTH_URL}}
                  :first_party true
                  :grant_types [:implicit]}
            :testAuth {:grant_types [:password]
                       :secret "123456"}
            :anonymous {:grant_types [:basic]
                        :secret "secret"}}
   :AccessPolicy {:test-wildcard-policy {:engine "allow" :link [{:resourceType "User"}]}
                  :admin-policy {:engine "allow"
                                 :roleName "admin"}
                  :public-appointment-policy
                  {:engine "allow"
                   :link [{:resourceType "Client" :id "anonymous"}]}}
   :Practitioner {:admin {:name [{:given ["Alex"], :family "Admin"}]}}
   :Role {:admin {:name "admin"
                  :user {:id "admin" :resourceType "User"}
                  :links {:practitioner {:id "admin" :resourceType "Practitioner"}}}}}}}
