@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-page-header-heading {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ant-page-header-heading-title {
    font-size: 38px;
    line-height: 46px;
}

.ant-page-header {
    padding-left: 0;
    padding-right: 0;
}

.ant-page-header-ghost {
    background-color: transparent;
}

.ant-btn-icon-only {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valign-top {
    vertical-align: top;
}