@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family:
        'Inter',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        'Noto Sans',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ant-page-header-heading {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ant-page-header-heading-title {
    font-size: 38px;
    line-height: 46px;
}

.ant-page-header {
    padding-left: 0;
    padding-right: 0;
}

.ant-page-header-ghost {
    background-color: transparent;
}

.ant-btn-icon-only {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valign-top {
    vertical-align: top;
}
