.container {
    display: flex;
    justify-content: center;
}

.header {
    h3 {
        margin-bottom: 0;
    }
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 32px;

    :global .ant-picker-range {
        width: 100%;
    }
}

.weekday {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.weekdayCheckbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;

    :global .ant-checkbox {
        top: auto;
    }
}

.scheduleRowTitle {
    width: 53px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
