.prompts {
    margin: -4px 0 16px;
}

.singlePromptContainer {
    cursor: pointer;
}

.prompt {
    padding: 4px 0;
    font-size: 14px;
    line-height: 20x;
}

.markdown {
    padding: 4px 0;
    line-height: 20px;
    font-size: 14px;

    * {
        font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 14px;
        line-height: 20px;
    }

    p {
        margin-bottom: 0;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 30px !important;
}

.rightColumn {
    flex: 1;
}

.promptForm {
    pre {
        white-space: pre-wrap;
    }
}

.settings {
    position: relative;
}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.submitButtons {
    display: flex;
    justify-content: space-between;
}