.form {
    :global .ant-form-item-label {
        font-weight: bold;
    }

    :global .ant-form-item-row {
        flex-direction: column;
        justify-content: flex-start;
    }

    :global .ant-form-item-label {
        text-align: start;
        margin-bottom: 12px;
        white-space: normal;

        label {
            height: auto;

            &:after {
                display: none;
            }
        }
    }
}

.footer {
    margin-top: 24px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
