.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 440px;
    background-color: #fff;
    box-shadow: 0px 6px 16px #e6ebf5;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header {
    h3 {
        margin-bottom: 0;
    }
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 32px;

    :global .ant-picker-range {
        width: 100%;
    }
}

.weekday {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.weekdayCheckbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;

    :global .ant-checkbox {
        top: auto;
    }
}

.scheduleRowTitle {
    width: 53px;
}

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.03);
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
