.infoContainer {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.infoItemContainer {
  display: flex;
  flex-direction: column;
  margin-right: 40px;

  .title {
    color: #8F9BB3;
    font-size: 14px;
    line-height: 22px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;

  }

}

