.menu {
    border: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &::before,
    &::after {
        display: none;
    }

    :global .ant-menu-sub {
        flex-direction: column;
        background: 0 !important;
    }

    &.localeMenu {
        visibility: visible;
        opacity: 1;
        transition: opacity 0s;

        .container:global(._collapsed) & {
            opacity: 0;
            transition: opacity 0s;
            visibility: hidden;
        }
    }
}

.collapseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.menuItemLabel {
    opacity: 1;
    transition: opacity 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;

    .container:global(._collapsed) & {
        opacity: 0;
        transition: opacity 0s;
    }
}

:global .ant-menu-submenu-arrow {
    opacity: 1;
    transition: opacity 0.2s;

    .container:global(._collapsed) & {
        opacity: 0;
        transition: opacity 0s;
    }
}
