.prompts {
    margin: -4px 0 16px;
}

.prompt {
    padding: 4px 0;
    font-size: 14px;
    line-height: 16px;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    background-color: #fff;
    box-shadow: 0px 6px 16px #e6ebf5;
    padding: 32px;
    border-radius: 10px;
    display: flex;
}

.title {
    margin-bottom: 30px !important;
}

.rightColumn {
    flex: 1;
}

.leftColumn {
    width: 420px;
    border-left: 1px solid rgba(5, 5, 5, 0.06);
    margin-left: 30px;
    padding-left: 30px;
}

.promptForm {
    pre {
        white-space: pre-wrap;
    }
}

.settings {
    position: relative;
}

.closeButton {
    position: absolute;
    right: 0;
    padding: 8px 12px;
    margin-top: -8px;
    color: rgba(5, 5, 5, 0.6);
    font-size: 16px;
    transition: color 0.2s;
    height: auto;
    border: 0;

    &:hover {
        color: rgba(5, 5, 5, 0.9);
        background: 0 !important;
    }
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
