.container {
    min-height: 100vh;
    background-color: #fafcff;
    position: relative;
}

.content {
    background: 0;
    position: relative;
    padding-bottom: 64px;
}

.pageHeaderWrapper {
    background-color: #e0eaff;
    display: flex;
    justify-content: center;
}

.pageHeader {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px 20px;

    @media only screen and (min-width: 1281px) {
        max-width: 1120px;
    }
}

.pageContentWrapper {
    @media only screen and (min-width: 1281px) {
        display: flex;
        justify-content: center;
    }
}

.pageContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;

    @media only screen and (min-width: 1281px) {
        max-width: 1120px;
    }
}
