.container {
    transition: all 0.2s;
}

.sidebar {
    position: fixed !important;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: inset -1px 0px 0px #f0f0f0;
    z-index: 1;
}

.sidebarContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
