.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 710px;
    background-color: #fff;
    box-shadow: 0px 6px 16px #e6ebf5;
    padding: 24px 32px;
}

.title {
    margin-bottom: 16px;
}