.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 710px;
    background-color: #fff;
    box-shadow: 0px 6px 16px #e6ebf5;
    padding: 24px 32px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 16px;
}

.title {
    margin: 0 !important;
}

.buttons {
    display: flex;
    gap: 16px;
}

.button {
    font-weight: 600;
}
