.header {
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    height: 64px;
}

.logo {
    cursor: pointer;
}

.contentLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.menu {
    flex: 1;
    justify-content: flex-end;
    margin-right: 12px;
    border-bottom: 0;
}

.logout {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding: 1px 8px;
}

.user {
    display: flex;
    gap: 2px;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    height: 24px;

    &:hover {
        color: rgba(0, 0, 0, 0.65);
    }
}

.avatar {
    margin-right: 6px;
}

.locale {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.currentLocale {
    color: #000;
    font-weight: 500;

    &:hover {
        color: #000;
    }
}

.localeIcon {
    font-size: 16px;
    color: rgba(11, 24, 40, 0.45);
    margin-right: 4px;
}

.localeArrow {
    font-size: 9px;
    padding-top: 2px;
}
