.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card {
    width: 528px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editButton {
    padding: 0;
    font-weight: 700;
}
