.container {
    min-height: 100vh;
    position: relative;
    padding: 0 16px 64px;
    background-color: #3366ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.title {
    margin: 0;
    color: black;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 382px;
    width: 100%;
    padding: 18px;
    background-color: white;
    gap: 32px;
    border-radius: 16px;
}

.signInServiceSelectLabel {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.message {
    background-color: #fafafa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    font-size: 14px;
    line-height: 22px;
}

.appleSignInBtn {
    height: 40px;
    width: 100%;
}
