.container {
}

.logoWrapper {
    height: 68px;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 55px;
    transition: padding 0.2s;

    .container:global(._collapsed) & {
        padding: 0 20px;
    }

    @media screen and (max-width: 767px) {
        padding: 0 12px;
    }
}

.logoCompanyName {
    opacity: 1;
    transition: all 0.6s;

    .container:global(._collapsed) & {
        opacity: 0;
        transition: all 0s;
    }
}

.menu {
    border: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &::before,
    &::after {
        display: none;
    }
}

.menuItem {
    .container:global(._collapsed) & {
        height: 68px !important;
    }
}

.menuLink {
    display: flex;
    flex-direction: column;

    &::before,
    &::after {
        display: none;
    }
}

.menuItemLabel {
    opacity: 1;
    transition: opacity 0.6s;

    &._small {
        opacity: 0;
        height: 0;
        font-size: 9px;
        line-height: 14px;
        font-weight: 500;
        transition: opacity 0s;
        display: flex;
        justify-content: center;
        visibility: hidden;
    }

    .container:global(._collapsed) & {
        opacity: 0;
        transition: opacity 0s;
        height: 0;

        &._small {
            height: 14px;
            opacity: 1;
            transition: opacity 0.2s;
            transition-delay: 0.18s;
            visibility: visible;
            height: auto;
            margin-top: 6px;
        }
    }
}
